# PostgreSQL
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# JWT
JWT_SECRET=

# pgAdmin
PGADMIN_EMAIL=
PGADMIN_PASSWORD=

# Seed — mots de passe des utilisateurs de démo
Seed__PlayerPassword=
Seed__AdminPassword=
Seed__TestPassword=

# Frontend
VITE_API_URL=