# Game Engine PostgreSQL
GAME_ENGINE_DB_HOST=localhost
GAME_ENGINE_DB_PORT=5432
GAME_ENGINE_DB_NAME=leds_game_engine
GAME_ENGINE_DB_USER=postgres
GAME_ENGINE_DB_PASSWORD=postgres

# Player PostgreSQL
PLAYER_DB_HOST=localhost
PLAYER_DB_PORT=5433
PLAYER_DB_NAME=leds_player
PLAYER_DB_USER=postgres
PLAYER_DB_PASSWORD=postgres

# API URLs
GAME_ENGINE_API_URL=http://localhost:5187
CATALOG_API_URL=http://localhost:5193
PLAYER_API_URL=http://localhost:5189
WEB_CLIENT_URL=http://localhost:5173
